/* *{
    padding: 0;
    margin: 0;
    box-sizing: border-box; */
    /* width: 100%;
    height: 100%; */
    /* direction: rtl; */
/* } */
/* *{
  line-height: 0;
} */


.my-increment.p-button,
.my-decrement.p-button {
    height: 1rem;
    padding: 0;
}

/* מקטין את גודל האייקונים בתוך הכפתורים */
.my-increment .pi,
.my-decrement .pi {
    font-size: 0.6rem;
}
Button{
  color: #C89A42;
}

.my-increment {
  background-color: #C89A42 !important;
  color: white !important;

  border: none !important;
}

.my-decrement {
  background-color: #C89A42 !important;
  color: white !important;
  border: none !important;
}

.a nav a {
  /* background-size: contain; */
  text-decoration: none; /* אין קו מתחת */
  color: black;           /* צבע ברירת מחדל */
  margin: 0 12px;         /* ריווח בין הלינקים */
  font-size: 18px;
  font-weight: bold;
  color: #C89A42;

}

label{
  color: #C89A42;
}
.dialog{
  background-image: linear-gradient( to left #C89A42,white 75%,#C89A42);
}
.p-password .p-password-icon {
  color: #C89A42 !important;
}

.p-checkbox-icon {
  color: #C89A42 !important;
}
.p-checkbox-box {
  background-color: transparent !important;
  border: 1px solid #C89A42 !important;
  box-shadow: none !important;
  width: 20px;
  height: 20px;
}
.p-checkbox-box.p-highlight {
  background-color: transparent !important;
  border: 1px solid #C89A42 !important;
}


.p-checkbox-box.p-highlight .p-checkbox-icon {
  color: #C89A42 !important;
  font-size: 1rem;
}
.p-inputtext {
  border: 1px solid #C89A42 !important; /* זהב */
  box-shadow: none !important;
}
.p-button-text.p-button-plain.p-button-sm.icon-only:hover {
  box-shadow: none !important;
  background-color: transparent !important;
  border-color: transparent !important;
}
.my-button-clean:hover {
  background-color: transparent !important;
  border-color: transparent !important;
  box-shadow: none !important;
}

.custom-tooltip .p-tooltip-text {
  background-color: #C89A42 !important;
  color: #362C28 !important;
  /* border: 1px solid #C89A42 !important; */
  font-weight: bold;
}
.scroll-text {
  height: 100px; /* או כמה שצריך */
  overflow-y: auto;
  white-space: pre-wrap; /* חשוב אם יש שורות חדשות */
  line-height: 1.5; /* שים לב לזה */
  padding-top: 0.5em; /* או יותר, כדי לדחוף את הטקסט מעט למטה */
}

nav {
  text-decoration: none;
    background-color: #362C28;
    /* display: flex; */
    /* justify-content: center; */
    padding: 10px;
    /* gap: 10px; */
    /* color: #C89A42; */
    text-decoration: none;
    /* width: 100%;
    height:10%; */
  }
  .logo{
     /* display: block;   */
   padding-top: 3px;
    background-color: #362C28;
    width: 20%;
    /* height:50%; */
    height: auto;
  }  
  .a{
    /* padding-left: 47%; */
    background-color: #362C28;
    width: 100%;
    height:5%;
    text-align: center;
    padding: 0;        
    margin: 0;
  }